{
	"$schema": "https://schemas.wp.org/trunk/wp-env.json",
	"core": "WordPress/WordPress#6.9-branch",
	"phpVersion": "8.4",
	"plugins": [
		"."
	],
	"config": {
		"WP_DEBUG": true,
		"WP_DEBUG_LOG": true,
		"SCRIPT_DEBUG": true,
		"OPENAI_API_KEY": "sk-proj-your-openai-api-key-here",
		"ANTHROPIC_API_KEY": "sk-ant-your-anthropic-api-key-here",
		"GOOGLE_API_KEY": "your-google-api-key-here"
	},
	"mappings": {
		"wp-content/mu-plugins": "./mu-plugins"
	},
	"env": {
		"tests": {
			"phpVersion": "8.4"
		}
	}
}
